.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scale {
    animation: scaling 2s infinite linear;
}

@keyframes scaling {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.translate {
    animation: translation 2s infinite linear;
}

@keyframes translation {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(50px, 50px);
    }
}
